body {
    font-family: Arial, sans-serif;
    background-image: url('ToDo.jpg');
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    color:black;
    margin-top: 50px;
  }
  
  .todo-container {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #new-task {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  
  #add-task {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #777676;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .task span {
    margin-right: 10px;
  }
  
  .task button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  